Source: q-desktop-shell
Section: kde
Priority: optional
Maintainer: Kainat Quaderee <kainat@kainatgroup.com>
Build-Depends: debhelper-compat (= 13), cmake, ninja-build, qtbase5-dev, qtdeclarative5-dev
Standards-Version: 4.6.2

Package: q-desktop-shell
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, plasma-workspace, kwin-x11 | kwin-wayland
Description: Quintuplet Desktop (Q Desktop) Shell
 Custom KDE Plasma 5.27 desktop environment layer for Kainat OS Red.
